@import "variables";

.logo{
    width: 40%;
    align-items: center;
}

.row{
    height: 230px;
}

.row0{
    height: 20x;
}

.row1{
   height: 800px; 
}

.row7{
    height: 180px;
}

h6{
    font-family: $textoS;
    color: black;
    font-weight: bold;
}   